svg.intro.animated .text {
    display: block; 
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
svg.intro.animated .text-stroke {
    fill: none;
    stroke: #04285f;
    stroke-width: 4px;
    stroke-dashoffset: -100;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    animation: dash 3.5s ease-in-out forwards;
}
svg.intro.animated.opacity .text-stroke {
    stroke: rgba(171, 197, 206, 0.5);
}
svg.intro.animated.black .text-stroke {
    stroke: #525252;
}
svg.intro.animated .text-stroke:nth-child(2) {
    animation-delay: 0.5s;
}
svg.intro.animated .text-stroke:nth-child(3) {
    animation-delay: 0.9s;
}
svg.intro.animated .text-stroke-2 {
    stroke: #fff;
    animation-delay: 1.2s;
}
svg.intro.animated.black .text-stroke-2 {
    stroke: #141414;
}
svg.intro.animated.opacity .text-stroke-2 {
    stroke: rgba(255, 255, 255, 0.5);
}
svg.intro.animated .text-stroke:nth-child(5) {
    animation-delay: 1.5s;
}
svg.intro.animated .text-stroke:nth-child(6) {
    animation-delay: 1.8s;
}
@keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}